{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

{% endblock head %}


{% block content %}

<h1 class="header"></h1>
<a href="{% url "storedxss:comments-list" %}">&#8592; Go back</a><br>


<a href="{% url "storedxss:opinions-create" %}">Write opinion</a>

<br>
<h2>Our recent opinions: </h2>
{% autoescape off %}
{% for opinion in opinions %}
    <p>{{ opinion.text }}</p>
{% endfor %}
{% endautoescape %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit">
</form>

{% endblock content %}


{% block scripts %}

{% endblock scripts %}
